
body {
  overflow-x: hidden;
}

.tablet-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  height: 85vh;
  width: 150vh;
  border: 4px solid #212428;
  background-image: url("images/npbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.tablet-taskbar {
    position: absolute;
    top: 96.6%;
    background-color: #23393ab6;
    width: 100%;
    height: 3vh;
}

.tablet-apps {
    position: absolute;
    top: 2%;
    left: 2%;

}

.boosting-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #2f303b;
    height: 68vh;
    width: 105vh;
}

.prog-bar{
    position: relative;
    width: 15%;
    border-radius: 15px;
    background-color: #ace9e6;
    height: 100%;
    max-width: 100%;
}

.boosting-header {
    background-color: #3c3d4a;
    width: 100%;
    height: 3vh;
    
}

.btn-boosting {
    background-color: #3c3d4a;
    padding: 1.5vh;
    border: none;
    stroke: none;
    color: #ace9e6;
    border-radius: 2px;
    font-size: 10px;
    margin-left:10px;

}
.btn-dialog {
  background-color: #3c3d4a;
  padding: 1.3vh;
  border: none;
  stroke: none;
  color: white;
  border-radius: 10px;
  font-size: 10px;
  margin-left:10px;
  
  transition: 1s all;

}

.btn-dialog:hover{
  transition: 1s all;
  background-color: #313539;

}

.boosting-settings {
  position: absolute;
  top: 7%;
  left: 78%;
  
  z-index: 2;
  width: 30vh;
  height: 70vh;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.763);
}

.boosting-bar{
    margin-top: 1vh;
    border-radius: 15px;
    width: 104%;
    height: 1vh;
    background-color: #3c3d4a;
    margin-bottom: 1vh;
    

}

.vehicle-boosting{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3c3d4a;
  height: 38.7vh;
  width: 25%;

  border-radius: 10px;
}

.circle-shit {
  height: 5vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 5vh;
  border-radius: 55px;
  background-color: #2f303b;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid #a9d4da;
  display: flex;
  font-weight: bold;
  font-size: 17px;
}

#StartContract {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 36vh;
  box-shadow: 0px 0px 15px 4px #0000003a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 15vh;
  border-radius: 15px;
  z-index: 8;
  text-align: center;
  background-color: #2f303b;

}

 @keyframes slideIn {
  0%   {transform: translateX(100%);}
  100% {transform: translateX(0%);}
}


.slideinanim {
  animation-name: slideIn ;
  animation-duration: 1s;
}

 
@keyframes slideout {
  0%   {transform: translateX(0%);}
  100% {transform: translateX(110%);}
}


.slideoutanim {
  animation-name: slideout ;
  animation-duration: 1s;
}

 

.police-dispatch {
  position: absolute;
  right: 0.3%;
  top: 3%;

}

.plate {
  border-top: 1px solid white;
  display: inline;
  background-color: #a9d4da;
  padding: 0.2vmin;
  padding-left: 0.2vmin;
  text-shadow: 0px 0px 4px rgb(0, 0, 0);  
  border-radius: 0.2vmin;
}
.fas {
  vertical-align: middle;
  padding-right:6px;
  margin-bottom:2px;
  left: -1px;
  min-width: 13px;
  text-align: center;
}

.police-alert {
  position: relative;
  margin-top: 1vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0vmin;
  height: 10vh;
  width: 30vh;
  background-color: #2f303bd1;
  border-radius: 0.4vmin;
  color: white;

  border-right: 2px solid #a9d4da;
}

.police-info {
  font-size: 1em;
  line-height:calc(1.5em + 0.5vmin);
  vertical-align: middle;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  margin-top: 22px;
  font-weight:500;
}


/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #434950; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #434950; 
  }